@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  background: radial-gradient(#282c34, #282c34);
}

.header-background {
  position: absolute;
  width: 100%;
  height: 320px;
  top: 0;
  left: 0;
  z-index: -1;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}
